{% extends "home/base.html" %}
{% load static %}
{% block title %}
    <!--h2>Index Home</h2 -->
{% endblock title %}
{% block content %}
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0 mt-5"
                 src=" {% static 'home/img/tienda.webp' %}" />
        </div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Hola de nuevo... 👋</h1>
            <p>En esta tienda online podras gestionar tus clientes, consultar el stock disponible y registrar tus compras.</p>
        </div>
    </div>
{% endblock content %}
