{% extends "home/base.html" %}
{% block title %}
    <title>Buscar Clientes por País</title>
{% endblock title %}
{% block content %}
    <h1>Buscar Clientes por País</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Buscar</button>
    </form>
    <h2>Resultados:</h2>
    <ul>
        {% for cliente in resultados %}
            <li>{{ cliente.nombre }} {{ cliente.apellido }}</li>
        {% empty %}
            <li>No se encontraron resultados.</li>
        {% endfor %}
    </ul>
    <p>
        <a class="btn btn-secondary justify-content-around mt-4"
           href="{% url 'cliente:index' %}">Ir al inicio</a>
    </p>
{% endblock content %}
